# --- Frontend (React Native CLI / Expo) ---
Frontend/node_modules/
Frontend/dist/
Frontend/web-build/
Frontend/expo-env.d.ts

# Expo specific
Frontend/.expo/
Frontend/.expo-packager-cache/
Frontend/.expo-developer-tools/

# Metro bundler cache
Frontend/.metro/
Frontend/.rncache/
Frontend/.metro-health-check*

# Android
Frontend/android/.gradle/
Frontend/android/app/build/
Frontend/android/build/
Frontend/*.iml
Frontend/*.jks
Frontend/*.keystore
Frontend/local.properties

# iOS
Frontend/ios/build/
Frontend/ios/DerivedData/
Frontend/ios/Pods/
Frontend/*.pbxuser
Frontend/*.mode1v3
Frontend/*.mode2v3
Frontend/*.perspectivev3
Frontend/xcuserdata/

# Keys & certificates
Frontend/*.orig.*
Frontend/*.p8
Frontend/*.p12
Frontend/*.pem
Frontend/*.key
Frontend/*.mobileprovision

# Logs
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*

# Misc frontend
Frontend/.DS_Store
Frontend/*.tsbuildinfo
Frontend/app-example

# --- Backend (Django / Python) ---
Backend/venv/
Backend/__pycache__/
Backend/*.py[cod]
Backend/*.sqlite3
Backend/db.sqlite3
Backend/migrations/__pycache__/
Backend/migrations/*.py
Backend/*.log
Backend/media/
Backend/staticfiles/
Backend/*.pot
Backend/*.mo

# --- Tests / Coverage ---
coverage/
.coverage
htmlcov/
junit.xml
.pytest_cache/
.tox/
.mypy_cache/

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Divers ---
*.swp
*.swo
*.bak
