# --- Frontend (React Native CLI / Expo) ---
Frontend/node_modules/
Frontend/dist/
Frontend/web-build/
Frontend/expo-env.d.ts
Frontend/.expo/
Frontend/.expo-packager-cache/
Frontend/.expo-developer-tools/
Frontend/.metro/
Frontend/.rncache/
Frontend/.metro-health-check*

# Android
Frontend/android/.gradle/
Frontend/android/app/build/
Frontend/android/build/
Frontend/*.iml
Frontend/*.jks
Frontend/*.keystore
Frontend/local.properties

# iOS
Frontend/ios/build/
Frontend/ios/DerivedData/
Frontend/ios/Pods/
Frontend/*.pbxuser
Frontend/*.mode1v3
Frontend/*.mode2v3
Frontend/*.perspectivev3
Frontend/xcuserdata/

# Keys & certificates
Frontend/*.orig.*
Frontend/*.p8
Frontend/*.p12
Frontend/*.pem
Frontend/*.key
Frontend/*.mobileprovision

# Logs
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*

# Misc frontend
Frontend/.DS_Store
Frontend/*.tsbuildinfo
Frontend/app-example

# --- Tests / Coverage ---
Frontend/coverage/
Frontend/.coverage
Frontend/htmlcov/
Frontend/junit.xml
Frontend/.pytest_cache/
Frontend/lcov.info
Frontend/coverage-final.json
Frontend/clover.xml

# --- Backend (Django / Python) ---
Backend/venv/
Backend/.venv/
Backend/env/
.env

# Python cache
**/__pycache__/
*.py[cod]
*$py.class
**/migrations/__pycache__/

# Database
Backend/*.sqlite3
Backend/db.sqlite3

# Logs & Assets
Backend/*.log
Backend/media/
Backend/staticfiles/
Backend/*.pot
Backend/*.mo

# Tests / Coverage
Backend/coverage/
Backend/.coverage
Backend/htmlcov/
Backend/junit.xml
Backend/.pytest_cache/
Backend/.tox/
Backend/.mypy_cache/

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Misc ---
*.swp
*.swo
*.bak
